h1 {
    color: lightcoral;
    height: 100%;
    width: 100%;
    font-family: "Times New Roman";
    background-color: #ff3;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
}
#links {
    border-left: 6px solid red;
}
.intro {
    font-family: "Lucida Console";
}