h1 {
    color: lightcoral;
    height: 100%;
    width: 100%;
    font-family: "Times New Roman";
    background-color: #ff3;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
}
#links {
    border-left: 6px solid red;
}
.intro {
    font-family: "Lucida Console";
}
.about:hover {
    color: #FF00FF;
}
body div h3 {
    color: lightgreen;
}
.thor-title {
    background-color: #2ff;
}
.odin-title {
    background-color: #2ff;
}
.images-title {
    background-color: #2ff;
}
img {
    border: 2px solid;
}